.App {
  display: grid;
  grid-template: 1fr 50px/1fr 2fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body{
  margin: 0px;
  padding: 0px;
}

button{
  background: black;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

