**/node_modules
**/feature.md
**/dist
/docs/.docusaurus
.netlify
/docs/build
**/env.ts
**/*.tgz
**/experiment
**/coverage
.DS_Store
**/*.eslintcache
**/*.env
docs/sidebars/
docs/**/api
!docs/docs/Introduction