**/node_modules
**/feature.md
**/dist
**/build
/docs/.docusaurus
/test.ts
.netlify
/docs/build
/scripts/data
**/env.ts
**/*.tgz
**/experiment
**/coverage
.DS_Store
**/*.eslintcache
**/*.env
docs/sidebars/
docs/**/api
!docs/docs/Introduction