.NotionFilter{
  font-size: 14px;
  &-Group{
    &-Add{

    }
    &-Item{
      &-Operator{

      }
      &-Options{
        .BasicMenu{
          height: 100%;
          display: flex;
          align-items: center;
          margin: 5px;
          cursor: pointer;
          &-label{
            display: flex;
            align-items: center;
            height: 100%;
          }
        }
      }
      &-Property{
        display: flex;
        align-items: center;
        padding: 5px;
        width: 175px;
      }
      &-Value{

      }
    }
    &-Operator{

    }
    &-Options{

    }
  }
}