.NotionFilter{
  font-size: 14px;
  &-Group{
    &-Add{

    }
    &-Item{
      &-Operator{

      }
      &-Options{
        .BasicMenu{
          height: 100%;
          display: flex;
          align-items: center;
          margin: 5px;
          cursor: pointer;
          &-label{
            display: flex;
            align-items: center;
            height: 100%;
          }
        }
      }
      &-Property{
        display: flex;
        align-items: center;
        padding: 5px;
        width: 175px;
      }
      &-Value{

      }
    }
    &-Operator{

    }
    &-Options{

    }
  }
}

.TagsAutocomplete-option{
  display: inline-flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0px;
  height: 18px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0px;
}