.NotionFilter{
  &-Group{
    &-Add{

    }
    &-Item{
      &-Operator{

      }
      &-Options{

      }
      &-Property{
        display: flex;
        align-items: center;
        padding: 5px;
        width: 125px;
      }
      &-Value{

      }
    }
    &-Operator{

    }
    &-Options{

    }
  }
}